.bg-collaps {
    background-color: #F1F3FF;
}
.btn-green{
    color: white;
    background-color: #5CB85F;
}
.btn-register:hover{
    color: rgb(229, 229, 229);
}
.nav-color{
    color: black;
}
.nav-color:hover{
    color: rgb(86, 85, 85);
}
.ps-5 {
  padding-left: 3rem !important; 
}

.container-fluid {
  padding-right: 0; 
}

.p-0 {
  padding: 0 !important; 
}

/* our service */
.circle-image {
    overflow: hidden;
    width: 100%; 
    max-width: 400px; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image img {
    width: 100%;
    height: auto;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.text-section {
    max-width: 500px;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    margin-bottom: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.feature-list img {
    margin-right: 10px; 
    width: 24px; 
    height: 24px;
}

@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }

    .text-section {
        margin-top: 20px;
    }
}

/* why us */
.card img {
    width: 50px;
    height: 50px;
}

/* testimonial */
.testimonial-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.testimonial-card img.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.stars img {
    width: 100px; 
    height: auto;
}
.swiper-pagination-bullet {
    background-color: #28a745;
}

/* banner */
.hero-section {
    background-color: #0D28A6; 
    color: white;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    width: 100%;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-section p {
    margin-top: 10px;
    font-size: 1rem;
}

.hero-section .btn {
    margin-top: 20px;
    font-size: 1rem;
    background-color: #28a745; /* warna hijau tombol */
    color: white;
}

/* Responsif */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 1.8rem;
    }
    .hero-section {
        padding: 60px;
    }
}